.city {
  background-color:$backgroundClair;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: $colorGrey;
  flex-grow: 1;
  & h2 {
    margin-top: 2rem;
    font-size: large;
    text-align: center;
  }
  & p {
    font-size: medium;
    text-align: center;
  }
}