
.explorer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
   &__btn{
    @include btn;
  }
  h2{
    text-align: center;
  }
  p{
    text-align: center;
  }
}
