header a {
  text-decoration: none;
  color: black;
}
header {
  background-color: $backgroundclair;
  text-align: center;
  position: relative;
  box-shadow: 0px 3px 2px 2px $backgroundclair;
  padding: 0.3rem;
}
