@include coeurs;


.new {
  position: relative;
  &::before {
    content: "Nouveau";
    background: $tertiary;
    border: 5px solid $tertiary;
    border-radius: 5px;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.restaurants {
  background-color: #f6f6f6;
  margin: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  @include desktop {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  border-radius: 35px 35px 0 0;
  box-shadow: 4px 4px 6px #aaa;
  background: #ffff;
  border-radius: 35px;
  position: relative;
  &:hover {
    @include zoom;
  }
  &__image {
    border-radius: 35px 35px 0 0;
    background-size: cover;
    height: 13rem;
  }
  &__description {
    padding: 1rem;
    h3{
      margin: 0%;
      padding: 0%;
    }
    p{
      margin: 0%;
      padding: 0%;
    }
  }
}
.card__description{
  .fa-solid {
    position: absolute;
    bottom: 2rem;
    @include desktop {
      bottom: 1rem;
    }
    right: 2rem;
    font-size: 2rem;
    opacity: 0;
    transition: all 1s ease-in-out;
    &:hover {
      animation: coeurs 0.5s;
      opacity: 1;
      color: transparent;
      background: linear-gradient(to bottom, $primary, #b35cdc, #e86edb, #ff79da);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }
  .fa-regular {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    opacity: 1;
    @include desktop {
      bottom: 1rem;
    }
    font-size: 2rem;
    &:hover {
      animation: coeurs 0.5s;
    }
  }
}
@for $i from 1 through 4 {
  .card__image-#{$i} {
    background-image: url(./img/restaurants/image-#{$i}.jpg);
  }
}
