img {
  @include image;
}

.card a {
  text-decoration: none;
  color: black;
}
figcaption {
  margin: 0;
  padding: 10px;
}

figure {
  margin: 0;
}
.card {
  @include card;
  flex-grow: 1;
  max-width: 30rem;
  &__heart {
    position: absolute;
    bottom: 4rem;
    right: 2rem;
    @include desktop{
      bottom: 2rem;
    }
    &:hover {
      &::before{
        
      }
    }
  }
 
}
.new {
  color: #008766;
  background: $tertiary;
  border: 5px solid $tertiary;
  border-radius: 5px;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.restaurants{
  flex-grow: 1;
  background-color: #f6f6f6;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  
   & h2{
    margin-bottom: 2rem;
      padding: 0.5rem;
     }
     &__cards{
      flex-grow: 1;
      @include desktop{
        display: flex;
        flex-direction: row;
        min-width: 30rem;
        flex-wrap: wrap;
      } }
    }

   


