@import "./sass/utils/_keyframes.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@400;500&family=Shrikhand&display=swap");
.loader {
  background: -webkit-linear-gradient(#FFFFFF, #99E2D0, #FF79DA, #9356DC);
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-family: Shrikhand, sans-serif;
  font-size: x-large;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: loader 1s ease-in-out 3s forwards;
}

.loader__food {
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 20%;
}

.loader__food span {
  display: inline-block;
  width: 5px;
  height: 20px;
  padding-right: 1em;
}

.loader__fork {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotate 1s linear infinite;
}

.loader__food span:nth-child(1) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(2) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(3) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(4) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(5) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(6) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(7) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(8) {
  animation: grow 1s ease-in-out infinite;
}

.city {
  background-color: #f3f3f3;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: #616060;
  flex-grow: 1;
}
.city h2 {
  margin-top: 2rem;
  font-size: large;
  text-align: center;
}
.city p {
  font-size: medium;
  text-align: center;
}

* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: roboto;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: shrikhand, cursive;
  text-align: center;
  position: relative;
  box-shadow: 0px 3px 1px 1px rgb(164, 164, 164);
  padding: 0.3rem;
  margin: 0px;
}
h1 a {
  text-decoration: none;
  color: #000000;
}

main {
  margin: 0px;
}

.btn__explorer {
  color: white;
  font-weight: 300;
  border: none;
  border-radius: 2rem;
  margin-top: 30px;
  padding: 1rem 2rem;
  background-image: linear-gradient(to top, #9356DC, #b35cdc, #e86edb, #ff79da);
  box-shadow: 2px 1px 8px -3px #000000;
  transition: transform 180ms;
  opacity: 1;
}
.btn__explorer:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.explorer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fonctionnement {
  margin: 2rem;
  counter-reset: steps;
}
.fonctionnement ol {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
@media screen and (min-width: 951px) {
  .fonctionnement ol {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1300px) {
  .fonctionnement ol {
    grid-template-columns: repeat(3, 1fr);
  }
}
.fonctionnement ol li {
  align-items: baseline;
  justify-content: flex-start;
  gap: 0.2rem;
  position: relative;
  list-style-type: none;
  display: flex;
  background-color: #f6f6f6;
  opacity: 1;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  box-shadow: 2px 1px 8px -3px #000000;
}
.fonctionnement ol li i.fas {
  margin-right: 0.5rem;
  font-size: 2rem;
}
.fonctionnement ol li:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
.fonctionnement ol li:hover i.fas {
  color: #b35cdc;
}
.fonctionnement ol li::before {
  content: counter(steps);
  counter-increment: steps;
  width: 2rem;
  height: 2rem;
  bottom: 2rem;
  left: -1rem;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  display: grid;
  place-items: center;
  color: white;
  font-weight: 400;
}
.fonctionnement .main__header {
  text-align: center;
  position: relative;
  box-shadow: 0px 3px 1px 1px rgb(164, 164, 164);
  padding: 0.3rem;
}

.fa-solid {
  position: absolute;
  bottom: 4rem;
  right: 2rem;
  font-size: 2rem;
  opacity: 0;
}
.fa-solid:active:hover {
  opacity: 1;
  background: linear-gradient(to bottom, #9356DC, #b35cdc, #e86edb, #ff79da);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media screen and (min-width: 951px) {
  .fa-solid:hover {
    opacity: 1;
    background: linear-gradient(to bottom, #9356DC, #b35cdc, #e86edb, #ff79da);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.fa-regular {
  position: absolute;
  bottom: 4rem;
  right: 2rem;
  font-size: 2rem;
}
.fa-regular:hover {
  color: transparent;
}

.new {
  position: relative;
}
.new::before {
  content: "nouveau";
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.restaurants {
  background-color: #f6f6f6;
  margin: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
@media screen and (min-width: 951px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1300px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  border-radius: 10% 10% 0 0;
  box-shadow: 4px 4px 6px #aaa;
  background: white;
  border-radius: 10%;
  position: relative;
}
.card:hover {
  transform: scale(1.02);
}
.card__image {
  border-radius: 10% 10% 0 0;
  background-size: cover;
  height: 13rem;
}
.card__description {
  padding: 1rem;
}

.card__image-1 {
  background-image: url(./img/restaurants/image-1.jpg);
}

.card__image-2 {
  background-image: url(./img/restaurants/image-2.jpg);
}

.card__image-3 {
  background-image: url(./img/restaurants/image-3.jpg);
}

.card__image-4 {
  background-image: url(./img/restaurants/image-4.jpg);
}

footer {
  background-color: #353535;
  list-style-type: none;
  padding: 25px;
  flex-grow: 1;
}
footer li {
  padding: 0.5rem;
}
footer a {
  color: white;
  font-weight: 400;
  text-decoration: none;
  font-weight: 400;
}
footer h3 {
  font-family: shrikhand, cursive;
  color: white;
  padding: 0.3rem;
  padding-left: 1.6rem;
  font-weight: 400;
}

.fa-utensils {
  margin-right: 12px;
}

.fa-hands-helping {
  margin-right: 5px;
}

/*# sourceMappingURL=style.css.map */
