/*--------------------*/
/*---------mixins ombre entete---------*/
/*---------mixins ombre cartes restos---------*/
/*---------mixins pour zoomer---------*/
/*-----------mixins bouton----------*/
/*-----------mixins cartes restaurants----------*/
/*------------mixins coeurs icon------------*/
/*-----------------------------------------------------------------*/
@import "./sass/utils/_keyframes.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@400;500&family=Shrikhand&display=swap");
.loader {
  background-image: linear-gradient(to top, #9356DC, #FF79DA, #99E2D0, #96036d);
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-family: Shrikhand, sans-serif;
  font-size: x-large;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: loader 1s ease-in-out 1s forwards;
}

.loader__food {
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 20%;
}

.loader__food span {
  display: inline-block;
  width: 5px;
  height: 20px;
  padding-right: 1em;
}

.loader__fork {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotate 0.5s linear infinite;
}

.loader__food span:nth-child(1) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(2) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(3) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(4) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(5) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(6) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(7) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(8) {
  animation: grow 1s ease-in-out infinite;
}

.city {
  background-color: #f6f6f6;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: #616060;
  flex-grow: 1;
}
.city h2 {
  margin-top: 2rem;
  font-size: large;
  text-align: center;
}
.city p {
  font-size: medium;
  text-align: center;
}

* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: roboto;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: shrikhand, cursive;
  text-align: center;
  position: relative;
  box-shadow: 0px 3px 1px 1px rgb(164, 164, 164);
  padding: 0.3rem;
  margin: 0px;
}
h1 a {
  text-decoration: none;
  color: #000000;
}

main {
  margin: 0px;
}

.btn__explorer {
  color: white;
  font-weight: 300;
  border: none;
  border-radius: 2rem;
  margin-top: 30px;
  padding: 1rem 2rem;
  background-image: linear-gradient(to top, #9356DC, #b35cdc, #e86edb, #ff79da);
  box-shadow: 2px 1px 8px -3px #3f3b3b;
  transition: transform 180ms;
  opacity: 1;
}
.btn__explorer:hover {
  box-shadow: 5px 3px 8px 3px rgba(0, 0, 0, 0);
  transform: scale(1.02);
  opacity: 0.8;
}

.explorer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fonctionnement {
  margin: 2rem;
  counter-reset: steps;
}
.fonctionnement ol {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
@media screen and (min-width: 951px) {
  .fonctionnement ol {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1300px) {
  .fonctionnement ol {
    grid-template-columns: repeat(3, 1fr);
  }
}
.fonctionnement ol li {
  align-items: baseline;
  justify-content: flex-start;
  gap: 0.2rem;
  position: relative;
  list-style-type: none;
  display: flex;
  background-color: #f6f6f6;
  opacity: 1;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  box-shadow: 2px 1px 8px -3px #3f3b3b;
}
.fonctionnement ol li i.fas {
  margin-right: 0.5rem;
  font-size: 2rem;
}
.fonctionnement ol li:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
.fonctionnement ol li:hover i.fas {
  color: #b35cdc;
}
.fonctionnement ol li::before {
  content: counter(steps);
  counter-increment: steps;
  width: 2rem;
  height: 2rem;
  bottom: 2rem;
  left: -1rem;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  display: grid;
  place-items: center;
  color: white;
  font-weight: 400;
}
.fonctionnement .main__header {
  text-align: center;
  position: relative;
  box-shadow: 0px 3px 1px 1px rgb(164, 164, 164);
  padding: 0.3rem;
}

.fa-solid {
  position: absolute;
  bottom: 4rem;
  right: 2rem;
  font-size: 2rem;
  opacity: 0;
  transition: all 1s ease-in-out;
}
@media screen and (min-width: 951px) {
  .fa-solid {
    bottom: 1rem;
  }
}
.fa-solid:hover {
  animation: coeurs 0.5s;
  opacity: 1;
  color: transparent;
  background: linear-gradient(to bottom, #9356DC, #b35cdc, #e86edb, #ff79da);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.fa-regular {
  position: absolute;
  bottom: 4rem;
  right: 2rem;
  opacity: 1;
  font-size: 2rem;
}
@media screen and (min-width: 951px) {
  .fa-regular {
    bottom: 1rem;
  }
}
.fa-regular:hover {
  animation: coeurs 0.5s;
}

.new {
  position: relative;
}
.new::before {
  content: "nouveau";
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.restaurants {
  background-color: #f6f6f6;
  margin: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
@media screen and (min-width: 951px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1300px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  border-radius: 10% 10% 0 0;
  box-shadow: 4px 4px 6px #aaa;
  background: white;
  border-radius: 10%;
  position: relative;
}
.card:hover {
  transform: scale(1.02);
}
.card__image {
  border-radius: 10% 10% 0 0;
  background-size: cover;
  height: 13rem;
}
.card__description {
  padding: 1rem;
}

.card__image-1 {
  background-image: url(./img/restaurants/image-1.jpg);
}

.card__image-2 {
  background-image: url(./img/restaurants/image-2.jpg);
}

.card__image-3 {
  background-image: url(./img/restaurants/image-3.jpg);
}

.card__image-4 {
  background-image: url(./img/restaurants/image-4.jpg);
}

footer {
  background-color: #353535;
  list-style-type: none;
  padding: 25px;
  flex-grow: 1;
}
footer li {
  padding: 0.5rem;
}
footer a {
  color: white;
  font-weight: 400;
  text-decoration: none;
  font-weight: 400;
}
footer h3 {
  font-family: shrikhand, cursive;
  color: white;
  padding: 0.3rem;
  padding-left: 1.6rem;
  font-weight: 400;
}

.fa-utensils {
  margin-right: 12px;
}

.fa-hands-helping {
  margin-right: 5px;
}

.main__header {
  box-shadow: 0px 0px 0px 0px white(164, 164, 164);
}

.main__header ::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f060";
  font-size: 2rem;
  left: 2rem;
  top: 1rem;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
}

img {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

.title {
  margin-top: -2rem;
}
.title h2 {
  font-family: "Shrikhand", "cursive";
  padding: 1rem 1rem;
  margin: 0%;
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
}
.title h2::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  right: 2rem;
  top: 2rem;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.title h2::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  right: 2rem;
  top: 2rem;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.3);
}

.resto-main {
  padding: 0 1rem;
  background-color: #f6f6f6;
}

.menus {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
@media screen and (min-width: 951px) {
  .menus {
    grid-template-columns: repeat(3, 1fr);
  }
}
.menus h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
}
.menus h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
}

.menus__category {
  overflow: hidden;
}
.menus__category .menu-item {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.5rem;
  box-shadow: 2px 1px 8px -3px #3f3b3b;
  animation: appear 1s;
  animation-fill-mode: both;
}
.menus__category .menu-item:nth-child(3) {
  animation-delay: 600ms;
}
.menus__category .menu-item:nth-child(2) {
  animation-delay: 400ms;
}
.menus__category .menu-item:nth-child(1) {
  animation-delay: 200ms;
}
.menus__category .menu-item:hover {
  cursor: pointer;
}
.menus__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
.menus__category .menu-item:hover i {
  animation: check 0.5s ease-in-out;
}
.menus__category .menu-item__price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.menus__category .menu-item__description {
  padding: 1rem;
  overflow: hidden;
}
.menus__category .menu-item__description h4,
.menus__category .menu-item__description p {
  margin: 0%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus__category .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  color: white;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}

.btn__commander {
  color: white;
  font-weight: 300;
  border: none;
  border-radius: 2rem;
  margin-top: 30px;
  padding: 1rem 2rem;
  background-image: linear-gradient(to top, #9356DC, #b35cdc, #e86edb, #ff79da);
  box-shadow: 2px 1px 8px -3px #3f3b3b;
  transition: transform 180ms;
  opacity: 1;
  padding-left: 50px;
  padding-right: 50px;
}
.btn__commander:hover {
  box-shadow: 5px 3px 8px 3px rgba(0, 0, 0, 0);
  transform: scale(1.02);
  opacity: 0.8;
}

.bouton {
  display: grid;
  place-items: center;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
